
node_modules/
node_modules
.idea

build
dist

Folder.DotSettings.user
src/assets/styles/output.css

.env*
.flaskenv*
!.env.project
!.env.vault
/network
/src/assets/styles/
dist/

env.json

